module.exports = {
    pkginfopath: "/var/www/repo-arm", // pkginfo.db file path, without the last slash "/".
    downloadurl: "http://repo-arm-download.example.com/"  // package download url, for returning package download links - dont forget the last slash "/".
}
